@{
    ViewData["Title"] = "CreateCategory";
}

<h1>CreateCategory</h1>

@model CategoryCreateViewModel
<div class="col-md-4 offset-md-4">
    <form asp-action="CreateCategory" method="post">
        <div class="mb-3">
            <label class="form-label">Category Name</label>
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button class="btn btn-primary"> Submit</button>
    </form>
</div>
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
