
@{
    ViewData["Title"] = "About";
}

<div class="border border-2 text-center">
    <div class="mt-4">
    <pre>Hi,Im Emin Kayışyapar. 
        I'm Junior Developer in C# .Net 
             This blog site is my Bootcamp assignment.
                    <a href="https://github.com/kayisyaparemin/ITalentBlogWebApp">Its also in Github!</a>
    </pre>
    </div>
</div>