@using ITalentBlogWebApp.Models
@{
    ViewData["Title"] = "Home Page";
}

@model List<Post>

<table class="table">
    <thead>
        <tr>
            <th>PostImage</th>
            <th>PostTitle</th>
            <th>PostDescription</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td><img src="~/pictures/@item.ImageName"/></td>
                <td>@item.Title</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
