@{
    ViewData["Title"] = "ContactMe";
    Layout = "_template";
}

<section class="contact spad">
    <div class="container">
        <div class="contact__text">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Contact</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6271.252788834076!2d38.86123723244617!3d38.1953515907535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x407674ac7b23005d%3A0x9fc8e87bb1716bfe!2zUMO8dMO8cmdlLCBNYWxhdHlhLCBUdXJrZXk!5e0!3m2!1sen!2sbd!4v1661670014127!5m2!1sen!2sbd" height="350" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                    </div>
                    <div class="contact__widget">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Emin Kayışyapar, Malatya/Pütürge</span>
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <span>Phone: 507-102-29-61</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>Email: eminkayisyapar@neredekal.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <div class="contact__form__title">
                            <h2>gET IN TOUCH</h2>
                            <p>
                                <h4>Hi there,</h4>
                                <h4>If you want to share with me some topics, please contact me.</h4>
                            </p>
                        </div>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Website">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

