@using ITalentBlogWebApp.Models.ViewModels.Posts

@{
    ViewData["Title"] = "UpdatePost";
}

@model PostUpdateViewModel

<form asp-controller="Post" asp-action="UpdatePost" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Create Post</legend>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImageName" />
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Categories</label>
            <select class="form-select" asp-items="@ViewBag.selectList" asp-for="CategoryId">
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Post Title</label>
            <input type="text" class="form-control" asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-outline mb-3">
            <label class="form-label">Post Description</label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <label asp-for="Image"><h6>Post Image</h6></label>
        <div class="mb-3">
            <img src="/pictures/@Model.ImageName" style="width:150px;height:150px;" class="mb-3"/>
            <input class="form-control" type="file" asp-for="Image">
            <span asp-validation-for="Image" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
